.app.light {
  --bg-color: rgba(255, 255, 255, 0.89);
  --inverted-bg-color: #2e69ff;

  --primary-color: rgb(13, 45, 100);
  --secondary-color: rgb(21, 104, 227);

  --inverted-primary-color: rgb(87, 183, 93);
  --inverted-secondary-color: rgb(0, 255, 29);
}