.btn {
    padding: 6px;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: #2020db;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    &:hover {
        background-color: #1010b3;
    }

    &:active {
        background-color: #2020db;
        box-shadow: none;
    }
}
